/* Reset:
  ========================================================================== */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
html,
body {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #F5F5F5;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus {
  outline: 0;
}
img,
audio,
video {
  max-width: 100%;
  height: auto;
}
iframe {
  border: 0;
}
textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  transition: background-color 5000s ease-in-out 0s;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
/* Responsive media queries:
  ========================================================================== */
.test {
  width: 100%;
  background-color: lightblue;
}
.tooltipBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.medicationRow {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background: #FFF;
  border: 1px solid #dce7f2;
  cursor: pointer;
}
.medicationRow.disableHover:hover {
  border-color: #dce7f2;
  box-shadow: none;
  cursor: not-allowed;
}
.medicationRow:hover,
.medicationRow.isExpanded,
.medicationRow.focused,
.medicationRow.disableHover.focused:hover {
  border-color: #3d87c5;
  box-shadow: 0 0 0 2px rgba(61, 135, 197, 0.3);
}
.medicationRow.isExpanded .header {
  border-radius: 6px 6px 0 0;
}
.medicationRow .header {
  width: 100%;
  display: flex;
  padding: 8px 12px;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  align-self: stretch;
  background: #FFF;
  border-radius: 6px;
}
.medicationRow .header .header__medication {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}
.medicationRow .header .header__medication .header__medication__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}
.medicationRow .header .header__medication .header__medication__content__heading {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.medicationRow .header .header__medication .header__medication__content__heading__title {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.medicationRow .header .header__medication .header__medication__content__heading__title h3 {
  color: #15171a;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.medicationRow .header .header__medication .header__medication__content__heading__infographics {
  display: flex;
  align-items: center;
  gap: 12px;
}
.medicationRow .header .header__medication .header__medication__content__heading__infographics .deliveryPrescriptionConditions,
.medicationRow .header .header__medication .header__medication__content__heading__infographics .medicationInfographics,
.medicationRow .header .header__medication .header__medication__content__heading__infographics .medicationAvailabilityInfographics {
  display: flex;
  align-items: center;
  gap: 2px;
}
.medicationRow .header .header__medication .header__medication__content__heading__infographics .medicationInfographics__item {
  display: flex;
  width: 22px;
  height: 22px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ADD5FF;
}
.medicationRow .header .header__medication .header__medication__content__heading__infographics .medicationAvailabilityInfographics__item {
  display: flex;
  width: 22px;
  height: 22px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.medicationRow .header .header__medication .header__medication__content__heading__infographics .medicationAvailabilityInfographics__item--red {
  background-color: #FFCDCD;
}
.medicationRow .header .header__medication .header__medication__content__heading__infographics .medicationAvailabilityInfographics__item--orange {
  background-color: #FFDA83;
}
.medicationRow .header .header__medication .header__medication__content__heading__infographics .medicationAvailabilityInfographics__item--green {
  background-color: #C7F4AB;
}
.medicationRow .header .header__medication .header__medication__content__heading__activeIngredient {
  color: #15171a;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.medicationRow .header .header__medication .header__medication__content__description {
  width: 100%;
  display: flex;
  gap: 32px;
  row-gap: 8px;
  flex-wrap: wrap;
}
.medicationRow .header .header__medication .header__medication__content__description__item {
  display: flex;
  align-items: center;
  gap: 6px;
}
.medicationRow .header .header__medication .header__medication__content__description__item span {
  font-size: 12px;
  font-weight: 400;
  color: #4b6682;
}
.medicationRow .header .header__medication .header__medication__content__description__item p {
  font-size: 14px;
  font-weight: 400;
  color: black;
}
.medicationRow .header .header__medication .header__medication__content__description__item.price p {
  color: #ef762f;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.medicationRow .header .header__medication .header__medication__content__description__item.delivery,
.medicationRow .header .header__medication .header__medication__content__description__item.prescription {
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}
.medicationRow .header .header__arrow {
  width: 18px;
  background: none;
  cursor: pointer;
  border: none;
}
.medicationRow .header .header__arrow.isExpanded {
  transform: rotate(90deg);
}
.medicationRow .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 18px 12px;
  gap: 18px;
  background-color: #f9fbfe;
  border-radius: 0 0 6px 6px;
  border-top: 1px dashed #3d87c5;
}
.medicationRow .content__vmp {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.medicationRow .content__vmp__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.medicationRow .content__vmp__item span {
  font-size: 12px;
  font-weight: 400;
  color: #4b6682;
}
.medicationRow .content__vmp__item p {
  font-size: 14px;
  font-weight: 400;
  color: black;
}
.medicationRow .content__divider {
  width: 100%;
  display: flex;
  border-bottom: 1px dashed rgba(61, 135, 197, 0.25);
}
.medicationRow .content__links {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 8px;
}
.medicationRow .content__links a {
  width: 49%;
  color: #3d87c5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.medicationRow .content__links a:hover {
  text-decoration: underline;
}
.supplyProblemsTooltip {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.supplyProblemsTooltip__title {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
}
.supplyProblemsTooltip__title--orange {
  background-color: #FFDA83;
}
.supplyProblemsTooltip__title--red {
  background-color: #FFCDCD;
}
.supplyProblemsTooltip__title--green {
  background-color: #C7F4AB;
}
.supplyProblemsTooltip__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.supplyProblemsTooltip__content div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.supplyProblemsTooltip__content div span {
  font-size: 12px;
  font-weight: 400;
  color: #4b6682;
}
.supplyProblemsTooltip__content div p {
  font-size: 14px;
  font-weight: 400;
  color: black;
}
.supplyProblemsTooltip__content div a {
  font-size: 14px;
  font-weight: 400;
  color: #3d87c5;
}
.supplyProblemsTooltip__content div a:hover {
  text-decoration: underline;
}
.textToIcon {
  height: 22px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
  border-radius: 5px;
}
.textToIcon--orange {
  background-color: #E5A613;
}
.textToIcon--red {
  background-color: #EE5D59;
}
.textToIcon--green {
  background-color: #33B96B;
}
.textToIcon--gray {
  background-color: #7E827F;
}
.textToIcon p {
  font-size: 11px !important;
  font-weight: 600;
  color: white !important;
  text-wrap: nowrap;
}
/*# sourceMappingURL=index.css.map */