@use '../../../style/index' as global;

button {
  display: flex;
  height: 32px;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid global.$blue-800;
  cursor: pointer;
  min-width: 64px;

  &.primary {
    background: global.$blue-800;
    color: #ffffff;

    &:hover {
      opacity: 0.9;
    }
  }

  &.outlined {
    border-radius: 6px;
    border-color: global.$grey-550;
    background: global.$grey-100;
    color: global.$blue-800;

    &:hover {
      border-color: global.$blue-800;
    }
  }

  &.withSpinner {
    border-radius: 6px;
    border-color: global.$grey-550;
    background: global.$grey-100;
    color: global.$blue-800;
    gap: 8px;
  }

  &[disabled],
  &[disabled]:hover {
    cursor: not-allowed;
    border-color: global.$grey-550;
    background: global.$grey-200;
    color: global.$grey-600;
  }
}
