// Colors

@gray-900: #15171a;
@gray-800: #3f3f46;
@gray-700: #574954;
@gray-600: #5c5157;
@gray-550: #bfbfbf;
@gray-500: #f1f1f1;
@gray-400: #d1d1d6;
@gray-300: #e4e4e7; // border
@gray-200: #f6f6f6; // bg on hover
@gray-100: #fcfcfd; // bg color
@gray-50: #fafafa;

@blue-950: #4b6682;
@blue-900: #3d87c5;
@blue-800: #8da6bf;
@blue-500: #c7d7e4;
@blue-400: #e4e9eb;
@blue-300: #e1e9ee;
@blue-200: #f6fafe;
@blue-100: #dce7f2;

@green-300: #cbf8cb;
@green-200: #e5fae5;

@orange-900: #ef762f;
@orange-500: #ffcdaf;
@orange-400: #fffdfb;

@burgundy-900: #511f3a;
@burgundy-800: #762d54;

// Colors
// Blue
@blue-800: #084b83;
@blue-600: #4b6682;
@blue-500: #3d87c5;

@blue-300: #eef6fe;
@blue-200: #f9fbfe;
@blue-100: #dce7f2;

// Grey
@grey-900: #1d2235;

@grey-650: #9ca8b2;
@grey-600: #848482;

@grey-550: #cad0d5;

@grey-300: #e4e4e7;
@grey-200: #f5f5f5;
@grey-100: #fcfcfd;

// Orange
@orange-900: #ef762f;

// Green
@green-400: #b7eb8f;
@green-300: #f6ffed;
@green-200: #e5fae5;

// Red

@red-400: #ffccc7;
@red-300: #fff1f0;
