/* Reset:
  ========================================================================== */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
html,
body {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #F5F5F5;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus {
  outline: 0;
}
img,
audio,
video {
  max-width: 100%;
  height: auto;
}
iframe {
  border: 0;
}
textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  transition: background-color 5000s ease-in-out 0s;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
/* Responsive media queries:
  ========================================================================== */
.tooltipBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.prescriptionRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  border-radius: 6px;
  background: #f9fbfe;
  border: 1px solid #dce7f2;
}
.prescriptionRow:hover {
  border-radius: 6px;
  border: 1px solid #084b83;
  background: #FFF;
  box-shadow: 0 0 0 2px rgba(61, 135, 197, 0.3);
}
.prescriptionRow.prescribed {
  background: #e5fae5;
  border-color: green;
}
.prescriptionRow.prescribed:hover {
  border-color: green;
  border-radius: inherit;
  background: #e5fae5;
  box-shadow: inherit;
}
.prescriptionRow .header {
  width: 83%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.prescriptionRow .header .header__prescription {
  display: flex;
  align-items: center;
  gap: 12px;
}
.prescriptionRow .header .header__prescription .header__prescription__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.prescriptionRow .header .header__prescription .header__prescription__content .header__prescription__content__title {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.prescriptionRow .header .header__prescription .header__prescription__content .header__prescription__content__title h3 {
  color: #15171a;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.prescriptionRow .header .header__prescription .header__prescription__content p {
  color: #15171a;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.prescriptionRow .rid {
  font-size: 10px;
  color: green;
}
.prescriptionRow .actions {
  width: 36px;
  display: flex;
  gap: 8px;
}
.prescriptionRow .actions .actions__btn {
  border: none;
  padding: 0;
  min-width: 16px;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 576px) {
  .prescriptionRow {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
  }
  .prescriptionRow .header {
    width: 100%;
  }
  .prescriptionRow .actions {
    width: 100%;
    gap: 4px;
  }
  .prescriptionRow .actions .actions__btn {
    width: 32px;
    height: 32px;
    border: 1px solid #eef6fe;
    background: rgba(238, 246, 254, 0.3);
    border-radius: 6px;
  }
}
/*# sourceMappingURL=index.css.map */