/* Reset:
  ========================================================================== */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
html,
body {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #F5F5F5;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus {
  outline: 0;
}
img,
audio,
video {
  max-width: 100%;
  height: auto;
}
iframe {
  border: 0;
}
textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
button,
input {
  line-height: normal;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  transition: background-color 5000s ease-in-out 0s;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
/* Responsive media queries:
  ========================================================================== */
.switch {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;
}
.switch__label {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  color: #3F3F46;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
.switch .toggleWrapper {
  display: flex;
  padding: 4px 0;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}
.switch .toggleWrapper p {
  color: #5C5157;
  opacity: 0.7;
  font-size: 14px;
  line-height: 22px;
}
.switch .toggleWrapper.checked p {
  color: #3F3F46;
  opacity: 1;
}
.switch .toggleWrapper .toggle {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 22px;
}
.switch .toggleWrapper .toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .toggleWrapper .toggle input:checked + .slider {
  background-color: #511F3A;
}
.switch .toggleWrapper .toggle input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}
.switch .toggleWrapper .toggle input:focus + .slider {
  box-shadow: 0 0 1px #511F3A;
}
.switch .toggleWrapper .toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #BFBFBF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.switch .toggleWrapper .toggle .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
/*# sourceMappingURL=Switch.css.map */